@import "./global.scss";

.goodFace__slider {
  padding-top: 200px;
}
.goodFace__slider-top {
  margin-bottom: 72px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    height: 2px;
    background: $black;
    width: 100vw;
    z-index: -1;
  }
}
.slick-track {
  display: flex;
}
.slider-top__item {
  img {
    margin: 8px 0;
    width: 56px;
    height: 56px;
    transition: 0.3s ease 0s;
  }
  p {
    font-size: 13px;
    line-height: 26px;
  }
}
.slick-current {
  img {
    margin: 0;
    width: 72px;
    height: 72px;
  }
}
.slick-list {
  overflow: hidden;
}
.slick-arrow {
  position: absolute;
  top: 8px;
  font-size: 0;
  width: 56px;
  height: 56px;
  background: #fff;
  transition: 0.3s ease 0s;
  &:not(.disabled-slick):hover {
    border: 2px solid $blue;
    z-index: 5;
    &::after {
      background: $blue;
    }
    &::before {
      background: $blue;
    }
  }
}
.slick-prev,
.slick-next {
  border: 2px solid $black;
  z-index: 5;
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 40%;
    width: 14px;
    height: 3px;
    background: $black;
  }
}
.slick-prev {
  right: 54px;
  &::after,
  &::before {
    transform-origin: left;
  }
  &::after {
    top: 54%;
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
  &:hover {
    
  }
}
.slick-next {
  right: 0;
  z-index: 1;
  &::after,
  &::before {
    transform-origin: right;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    top: 54%;
    transform: rotate(45deg);
  }
  &:hover {
    
  }
}
.disabled-slick {
  border: 2px solid $grey;
  z-index: 1;
  &::after,
  &::before {
    background: $grey;
  }
}
.goodFace__slider-bottom {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 30%;
    height: 2px;
    background: $black;
    width: 100vw;
    z-index: -1;
    display: none;
  }
  img {
    width: 300px;
    height: 206px;
  }
  margin-bottom: 56px;
}
.slider-bottom__item {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
}
.slider-bottom-text {
  max-width: 380px;
  padding-right: 10px;
  h2 {
    font-size: 32px;
    padding-bottom: 16px;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
}
.slideCounter {
  float: right;
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.4;
}
.footer .slideCounter {
  display: none;
}
.footer__title {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  padding-bottom: 16px;
  overflow-x: hidden;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &::after {
    height: 1px;
    width: 100%;
    left: 238px;
    top: 10px;
    background:$grey;
  }
  &::before {
    background: url("../img/flagUkraine.svg") 0 0 no-repeat;
    width: 24px;
    height: 24px;
    left: 198px;
  }
}
.footer__text {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

@import "./media.scss";